<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.multitransaction.mapper.admin.AdminMapper">


    <insert id="createIpBanByExcel">
        insert into ip_ban
        (ip_address, start_date, end_date, register_id, ban_reason, ban_count, is_ban)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.ipAddress},
            #{item.startDate},
            #{item.endDate},
            #{item.registerId},
            #{item.banReason},
            1,
            TRUE
            )
        </foreach>
    </insert>

</mapper>